@mixin transition($time, $type, $delay) {
  transition: all $time $type $delay;
  -webkit-transition: all $time $type $delay;
  -ms-transition: all $time $type $delay;
  -moz-transition: all $time $type $delay;
}

@mixin transform($type) {
  transform: $type;
  -webkit-transform: $type;
  -ms-transform: $type;
  -moz-transform: $type;
}

@mixin btn_style($color , $border){
  padding: 7px 30px;
  background-color: $color;
  border-radius: $border;
  color: $white;
}

