<!DOCTYPE html>
<html lang="en">

<head>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>فراموشی رمز عبور</title>

  <!-- favicon -->
  <link rel="icon" href="../../assets/img/logo.png" type="image" sizes="30x5">

  <link rel="stylesheet" href="../../assets/css/general/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/general/fontawsome.css">
  <link rel="stylesheet" href="../../assets/css/general/general.css">
  <link rel="stylesheet" href="../../assets/css/page_css/authenticetion/style_authentication.css">

</head>

<body>
  <main class="main">
    <div class="box_authentication">
      <img class="img_ba" src="../../assets/img/Forgot-password.gif">
      <div class="form_ba">
        <h1>رمز عبورتان را فراموش کرده اید؟</h1>
        <div class="btn_box">
            <a type="button" class="btn_ba" href="login.html">ورود</a>
            <a type="button" class="btn_ba" href="register.html">ثبت نام</a>
        </div>

        <form>
          <hr class="mb-4">
          <p>ایمیلی  که برای ثبت نام استفاده کرده اید را وارد کنید تا رمز عبور موقت برای شما ارسال شود</p>
          <div class="form-group">
            <label for="email">ایمیل</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" >
          </div>
          <button type="submit" class="btn mbr_btn">ارسال رمز عبور</button>
        </form>
      </div>
    </div>
  </main>


  <script src="../../assets/js/general/jquery.js"></script>
  <script src="../../assets/js/general/bootstrap.bundle.min.js"></script>

</body>

</html>