<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>بازنشانی  رمز عبور</title>

  <!-- favicon -->
  <link rel="icon" href="../../assets/img/logo.png" type="image" sizes="30x5">

  <link rel="stylesheet" href="../../assets/css/general/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/general/fontawsome.css">
  <link rel="stylesheet" href="../../assets/css/general/general.css">
  <link rel="stylesheet" href="../../assets/css/page_css/authenticetion/style_authentication.css">

</head>

<body>
  <main class="main">
    <div class="box_authentication">
      <img class="img_ba" src="../../assets/img/recovery.gif">
      <div class="form_ba">
        <h1>رمز عبور خود را بازنشانی کنید</h1>

        <form>
          <hr class="mb-4">
          <div class="form-group">
            <label for="new_password">رمز عبور جدید</label>
            <input type="password" class="form-control" id="new_password">
          </div>
          <div class="form-group">
            <label for="password">تکرار رمز عبور جدید</label>
            <input type="password" class="form-control" id="password">
          </div>
          <button type="submit" class="btn mbr_btn">بازنشانی  رمز عبور</button>
        </form>
      </div>
    </div>
  </main>

  <script src="../../assets/js/general/jquery.js"></script>
  <script src="../../assets/js/general/bootstrap.bundle.min.js"></script>

</body>

</html>