<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>صفحه ثبت نام</title>

  <!-- favicon -->
  <link rel="icon" href="../../assets/img/logo.png" type="image" sizes="30x5">

  <link rel="stylesheet" href="../../assets/css/general/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/general/fontawsome.css">
  <link rel="stylesheet" href="../../assets/css/general/general.css">
  <link rel="stylesheet" href="../../assets/css/page_css/authenticetion/style_authentication.css">

</head>

<body>
  <main class="main">
    <div class="box_authentication">
      <img class="img_ba" src="../../assets/img/register.gif">
      <div class="form_ba">
        <h1>ثبت نام</h1>
        

        <form>
          <hr class="mb-4">
          <p>لطفا جزئیات خود را برای ثبت نام وارد کنید</p>
          <div class="form-group">
            <label for="name">نام و نام خانوادگی</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="username">نام کاربری</label>
            <input type="text" class="form-control" id="username">
          </div>
          <div class="form-group">
            <label for="email">ایمیل</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="password">رمز عبور</label>
            <input type="password" class="form-control" id="password">
          </div>
         
          <button type="submit" class="btn">ثبت نام</button>
          <hr>
          <p> حسابی دارید؟<a href="login.html"> ورود </a></p>
        </form>
      </div>
    </div>
  </main>

  <script src="../../assets/js/general/jquery.js"></script>
  <script src="../../assets/js/general/bootstrap.bundle.min.js"></script>

</body>

</html>