@import '../../../css/partials/mixin', '../../../css/partials/variable';



%icons {
    margin-left: 25px;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
        color: $l_b;
    }
}

%box {
    display: none;
    width: max-content;
    height: max-content;
    box-shadow: 0px 3px 6px -3px #00000073;
    border: 1px solid #dbdbdb;
    position: absolute;
    background: white;
    direction: rtl;
    border-radius: 7px;
    text-align: right;
    padding: 20px 20px 0;
    top: 70px;

    &:after {
        content: "";
        position: absolute;
        top: -11px;
        left: 10px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $smal_text transparent;

    }

    ul {
        padding-inline-start: 0;
        margin: 0;
        list-style-type: none;

        a {
            color: $smal_text;

            &:hover {
                color: $l_b;
            }
        }

        li,
        hr {
            margin-bottom: 15px;

        }

    }
}

.dashbord {
    display: flex;
    flex-wrap: wrap;


    .ncb {
        width: 83%;



        //navbar
        .navbar {
            width: 83%;
            height: 60px;
            box-shadow: 0px 3px 6px -3px #00000073;
            justify-content: flex-start;
            color: $smal_text;
            position: fixed;
            top: 0;
            font-size: .9rem;
            z-index: 1000;
            background-color: $white;

            .user {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                cursor: pointer;

                .user_pic {
                    width: 40px;
                    height: 40px;
                    border-radius: $border_c;
                    border: 1px solid $l_b;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    font-size: 0.8rem;
                    margin-left: 10px;

                    p {
                        margin: 0;
                        font-family: $bf;

                    }


                }
            }

            .user_box {
                @extend %box;
                left: 20px;
                display: none;

                li {
                    cursor: pointer;
                }
            }

            .notification {
                @extend %icons;
                position: relative;

                .bell {

                    display: block;
                    -webkit-animation: ring 4s .7s ease-in-out infinite;
                    -webkit-transform-origin: 50% 4px;
                    -moz-animation: ring 4s .7s ease-in-out infinite;
                    -moz-transform-origin: 50% 4px;
                    animation: ring 4s .7s ease-in-out infinite;
                    transform-origin: 50% 4px;
                }

                .bandage {
                    position: absolute;
                    top: -7px;
                    left: 9px;
                    width: 15px;
                    height: 15px;
                    line-height: 17px;
                    background: $l_red;
                    font-size: 0.6rem;
                    text-align: center;
                    border-radius: 50%;
                    color: $warning_bg;
                }

                @-webkit-keyframes ring {
                    0% {
                        -webkit-transform: rotateZ(0);
                    }

                    1% {
                        -webkit-transform: rotateZ(30deg);
                    }

                    3% {
                        -webkit-transform: rotateZ(-28deg);
                    }

                    5% {
                        -webkit-transform: rotateZ(34deg);
                    }

                    7% {
                        -webkit-transform: rotateZ(-32deg);
                    }

                    9% {
                        -webkit-transform: rotateZ(30deg);
                    }

                    11% {
                        -webkit-transform: rotateZ(-28deg);
                    }

                    13% {
                        -webkit-transform: rotateZ(26deg);
                    }

                    15% {
                        -webkit-transform: rotateZ(-24deg);
                    }

                    17% {
                        -webkit-transform: rotateZ(22deg);
                    }

                    19% {
                        -webkit-transform: rotateZ(-20deg);
                    }

                    21% {
                        -webkit-transform: rotateZ(18deg);
                    }

                    23% {
                        -webkit-transform: rotateZ(-16deg);
                    }

                    25% {
                        -webkit-transform: rotateZ(14deg);
                    }

                    27% {
                        -webkit-transform: rotateZ(-12deg);
                    }

                    29% {
                        -webkit-transform: rotateZ(10deg);
                    }

                    31% {
                        -webkit-transform: rotateZ(-8deg);
                    }

                    33% {
                        -webkit-transform: rotateZ(6deg);
                    }

                    35% {
                        -webkit-transform: rotateZ(-4deg);
                    }

                    37% {
                        -webkit-transform: rotateZ(2deg);
                    }

                    39% {
                        -webkit-transform: rotateZ(-1deg);
                    }

                    41% {
                        -webkit-transform: rotateZ(1deg);
                    }

                    43% {
                        -webkit-transform: rotateZ(0);
                    }

                    100% {
                        -webkit-transform: rotateZ(0);
                    }
                }

                @-moz-keyframes ring {
                    0% {
                        -moz-transform: rotate(0);
                    }

                    1% {
                        -moz-transform: rotate(30deg);
                    }

                    3% {
                        -moz-transform: rotate(-28deg);
                    }

                    5% {
                        -moz-transform: rotate(34deg);
                    }

                    7% {
                        -moz-transform: rotate(-32deg);
                    }

                    9% {
                        -moz-transform: rotate(30deg);
                    }

                    11% {
                        -moz-transform: rotate(-28deg);
                    }

                    13% {
                        -moz-transform: rotate(26deg);
                    }

                    15% {
                        -moz-transform: rotate(-24deg);
                    }

                    17% {
                        -moz-transform: rotate(22deg);
                    }

                    19% {
                        -moz-transform: rotate(-20deg);
                    }

                    21% {
                        -moz-transform: rotate(18deg);
                    }

                    23% {
                        -moz-transform: rotate(-16deg);
                    }

                    25% {
                        -moz-transform: rotate(14deg);
                    }

                    27% {
                        -moz-transform: rotate(-12deg);
                    }

                    29% {
                        -moz-transform: rotate(10deg);
                    }

                    31% {
                        -moz-transform: rotate(-8deg);
                    }

                    33% {
                        -moz-transform: rotate(6deg);
                    }

                    35% {
                        -moz-transform: rotate(-4deg);
                    }

                    37% {
                        -moz-transform: rotate(2deg);
                    }

                    39% {
                        -moz-transform: rotate(-1deg);
                    }

                    41% {
                        -moz-transform: rotate(1deg);
                    }

                    43% {
                        -moz-transform: rotate(0);
                    }

                    100% {
                        -moz-transform: rotate(0);
                    }
                }

                @keyframes ring {
                    0% {
                        transform: rotate(0);
                    }

                    1% {
                        transform: rotate(30deg);
                    }

                    3% {
                        transform: rotate(-28deg);
                    }

                    5% {
                        transform: rotate(34deg);
                    }

                    7% {
                        transform: rotate(-32deg);
                    }

                    9% {
                        transform: rotate(30deg);
                    }

                    11% {
                        transform: rotate(-28deg);
                    }

                    13% {
                        transform: rotate(26deg);
                    }

                    15% {
                        transform: rotate(-24deg);
                    }

                    17% {
                        transform: rotate(22deg);
                    }

                    19% {
                        transform: rotate(-20deg);
                    }

                    21% {
                        transform: rotate(18deg);
                    }

                    23% {
                        transform: rotate(-16deg);
                    }

                    25% {
                        transform: rotate(14deg);
                    }

                    27% {
                        transform: rotate(-12deg);
                    }

                    29% {
                        transform: rotate(10deg);
                    }

                    31% {
                        transform: rotate(-8deg);
                    }

                    33% {
                        transform: rotate(6deg);
                    }

                    35% {
                        transform: rotate(-4deg);
                    }

                    37% {
                        transform: rotate(2deg);
                    }

                    39% {
                        transform: rotate(-1deg);
                    }

                    41% {
                        transform: rotate(1deg);
                    }

                    43% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(0);
                    }
                }
            }

            .notification_box {
                @extend %box;
                left: 165px;
                padding: 0;

                .headding {
                    background-color: $l_b;
                    color: white;
                    padding: 10px 15px;
                    border-radius: 7px 7px 0px 0px;
                }

                ul {
                    padding: 20px 35px;
                    height: 250px;
                    overflow: auto;

                    li {

                        &:last-child {
                            margin-bottom: 0;
                        }

                        a {
                            .notif_pic {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                border: 1px solid $l_b;
                                margin-left: 10px;
                            }

                        }
                    }
                }

                hr {
                    margin: 0;
                }

                .footer_notif {
                    text-align: center;
                    margin: 10px 0px;
                }
            }

            .search {
                @extend %icons;
            }

            .search_box {
                display: none;
                width: 100%;
                box-shadow: 0px 3px 6px -3px #00000073;
                position: absolute;
                left: 0;
                top: 0;
                background: white;

                form {
                    display: flex;
                    width: 100%;


                    input {
                        border: none;
                        direction: rtl;
                        width: 95%;
                        height: 60px;

                        &:focus {
                            box-shadow: none;
                        }

                    }

                    .btn {
                        color: $l_b;
                        height: 60px;
                        padding-left: 0;

                        &:focus {
                            box-shadow: none;

                        }
                    }

                    .btn_close {
                        padding-right: 0;
                        padding-left: 12px;
                    }
                }
            }
        }

        .main_content {
            margin-top: 60px;

        }

        //end navbar
    }

    //sidebar
    .sidebar {
        min-width: 17%;
        height: 100vh;
        background-color: $main_c;
        color: $smal_text;
        position: fixed;
        right: 0;
        overflow: auto;
        top: 0;
        direction: rtl;

        .header {
            text-align: right;
            width: 17%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $l_b;
            padding: 10px 20px;
            height: 60px;
            box-shadow: $shadow;
            position: fixed;
            top: 0;
            z-index: 1000;
            background-color: $main_c;

            a {
                .logo_sb {
                    width: 80px;

                }
            }

            i {

                font-size: 1.5rem;
                cursor: pointer;

            }
        }

        .main_menu_content {
            direction: rtl;
            text-align: right;
            margin-top: 80px;

            ul {
                list-style-type: none;
                padding-inline-start: 0px;
                overflow: auto;
               

                span {
                    color: $white;
                    font-size: .8rem;
                    margin: 25px 0 15px;
                    padding-right: 20px;
                    display: block;
                }

                .main_li_sidebar {

                    &:hover {
                        background: rgba(90, 141, 238, 0.15);

                        .link_li {
                            color: #5A8DEE !important;
                        }

                        button{
                            color: #5A8DEE !important;
                        }
                    }

                    a {
                        color: $smal_text;
                        font-size: .9rem;
                        width: 100%;
                        display: block;
                        padding: 10px 20px;

                        i {
                            color: rgba(139, 175, 243, 0.68);
                            margin-left: 10px;
                            font-size: 1.1rem;
                        }
                    }

                    .btn_main_menu {
                        color: $smal_text;
                        padding-right: 20px;
                        width: 100%;
                        text-align: right;
                        &:focus {
                            box-shadow: none;
                        }

                        i {
                            color: rgba(139, 175, 243, 0.68);
                            margin-left: 10px;
                            font-size: 1.1rem;
                        }

                        .icon {
                            margin-left: 0;
                            float: left;
                            font-size: .8rem;
                            padding-top: 4px;
                            color: white;
                        }
                    }

                    ul {
                        padding-right: 20px;
                        display: none;
                       

                    }
                }

                .active {
                    background: rgba(90, 141, 238, 0.15);

                    a {
                        color: #5A8DEE !important;

                    }
                }

            }

        }
    }

    //end sidebar
}

//modal

.modal_box {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(43, 43, 43, 0.5);
    position: fixed;
    z-index: 1001;
    top: 0;


    .modal_n {
        width: 500px;
        height: max-content;
        padding: 40px;
        background-color: $white;
        text-align: center;
        border-radius: 7px;
        box-shadow: 0px 3px 6px -3px #00000073;
        position: relative;

        .fa-times {
            position: absolute;
            top: 20px;
            right: 40px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .fa-portal-exit {
            font-size: 4rem;
            color: $l_b;
            margin-bottom: 20px;
        }

        h2 {
            font-family: $bf;
            color: $main_c;
            margin-bottom: 20px;
        }

        p {
            color: $smal_text;

        }

        a {
            color: white;
            padding: 7px 25px;
            text-align: center;
            direction: rtl;

        }

        .btn_no {
            background-color: $l_red;
            margin-left: 15px;
        }

        .btn_yes {
            background-color: $l_green;
        }
    }
}