@import '../../../css/partials/mixin', '../../../css/partials/variable';



.header_of_pu{
    @extend %card_style;
    position: relative;
    padding-bottom: 110px;
    
    .cover_of_pu{
        background-image: url('../../../img/PU1.jpg');
        width: 100%;
        height:200px ;
        border-radius: 10px 10px 0px 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        .img_of_pu{
            width: 140px;
            height: 140px;
            border-radius: 7px;
            position: absolute;
            right: 20px;
            bottom: 35px;
        }

        .txtb{
            width: max-content;
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 180px;
             bottom: 100px;
            color: white;
            h1{
                font-size: 1.2rem;
                font-family: $bf;
            }
        }

    }

    .topic_btn{
        width: max-content;
        right: 180px;
        bottom: 35px;
        position: absolute;

        .btn_pu{
            background: #F2F4F4;
            color: $smal_text2;
            padding: 7px 20px;
            margin-left: 10px;

            &:hover{
                background-color: $l_b;
                color: white;
            }
        }

        .active{
            background-color: $l_b;
            color: white;
        }
    }

  
}


.short_exp_pu_box{
    @extend %card_style;
    padding: 20px;
    display: flex;

    .img_of_pu{
        width: 120px;
        height: 120px;
        border-radius: 7px;
    
    }

    .details_of_exp{
        margin-right: 40px;

        h2{
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }

        p{
            color: $smal_text2;
        }
    }
}

.compelete_exp_pu{
    @extend %card_style;
    padding: 20px;
    margin-bottom: 80px;

    h2{
        font-size: 1.3rem;
    }

    hr{
        margin-bottom: 40px;
    }

    .details_box{
        display: flex;
        color: $smal_text2;

        i{
            margin-left: 20px;
        }
    }

    .btn_edit{
        background-color: $s_l_b;
        color: $l_b;
        float: left;
        i{
            margin-left: 10px;
        }
    }

}